.designBgElems {
  position: absolute;
  overflow: visible;
  height: 100vh;
  width: 90vw;
  right: 0;

  .exOneStyle {
    position: absolute;
    bottom: 0;
  }

  .exTwoStyle {
    position: absolute;
    bottom: 50vh;
    left: 1em;
  }

  .exThreeStyle {
    position: absolute;
    bottom: 35vh;
    left: 18em;
  }

  .exFourStyle {
    position: absolute;
    bottom: 20vh;
    left: 40vw;
  }

  .exFiveStyle {
    position: absolute;
    bottom: 0;
    left: 47vw;
  }

  .exSixStyle {
    position: absolute;
    top: 0;
    left: 48vw;
  }

  .exSevenStyle {
    position: absolute;
    bottom: 5vh;
    right: 0;
  }

  .exEightStyle {
    position: absolute;
    top: 5vh;
    right: -15vw;
  }
}