@import "./colors.scss";

.wrapper {
  max-width: 1200px;
  width: 90vw; 
  // background-color: rebeccapurple;
  position: relative;
  left: 50%; 
  transform: translateX(-50%);
}

.sectionWrapper {
  position: relative;
  height: 100vh;
  width: 100vw;   
  overflow: hidden;

  .header {
    position: absolute;
    right: 4em;
    top: 40vh;
    z-index: 10;
  }
}

.navCont {
  position: absolute;
  top: 40vh;
  left: 8em;
  display: flex;
  flex-direction: column;
  z-index: 11;

  svg { 
    height: 6rem;
    padding: 1rem;
    width: 6rem;
    fill: $onBackground;
    transition: all 0.3 ease-in-out;

    &:first-child {
      transform: rotateX(180deg);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.2 ease-in-out;

      &:first-child {
        transform: rotateX(180deg) scale(1.1);
      }  
    }
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
